{% extends "base_generic.html" %}
{% block content %}


    <div class="container marketing">



      <!-- START THE FEATURETTES -->

     
	{% for book in author.book_set.all %}
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="{% url 'book-detail' book.pk %}">{{book.title}}</a> <span class="text-muted">Copies : ({{book.bookinstance_set.all.count}})</span></h2>
          <p class="lead">{{book.summary}} </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ book.bookimage.url }}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

     
	{% endfor %}
 <!-- /END THE FEATURETTES -->

    </div><!-- /.container --> 





{% endblock %}