{% extends "base_generic.html" %}
{% block content %}
{% if author_list %}

    <div class="container">

      <!-- Example row of columns -->
      <div class="row">
		{% for author in author_list %}
        <div class="col-lg-4">
          <h2>{{ author.first_name }},{{ author.last_name }}({{author.date_of_birth}} {{author.date_of_death}})</h2>
          <p>{{ author.author_description }} </p>
          <p><a class="btn btn-primary" href="{{ author.get_absolute_url }}" role="button">Books</a></p>
           {% if user.is_staff %}
				<p><a class="btn btn-default" href="{% url 'author_delete' author.id %}" role="button">Delete Author</a></p>
				<p><a class="btn btn-default" href="{% url 'author_update' author.id %}" role="button">Update Author</a></p>
			{% endif %}
        </div>
        {% endfor %}
      </div>


    </div> <!-- /container -->



 {% endif %}  
{% endblock %}